# This is a configuration file for setting up the sprinkler schedule.

[SprinklerConfig] # don't edit this line
####
## Provide API key.  A free developer's API key is available
# here: https://www.wunderground.com/weather/api/d/pricing.html
api_key = 

####
## Town and state where sprinkler is being run.  Cities 
# with two or more words should use underscores for spaces, 
# e.g. New_York
town = Boston
state = MA

####
## How long in minutes to run the sprinkler at a time
runtime_min = 15

####
## Rain threshold.  If daily rainfall (in inches) exceeds this amount,
# the sprinkler will not run.  
rain_threshold_in = 0.05

####
## GPIO pins to control the sprinkler and the status LEDs
gpio_starter = 17
gpio_led1 = 27
#gpio_led2 = 22  # Not used currently

####
## Choose location and name of log file
log_file = /home/pi/sprinkler.log
